<%- include partials/header.ejs %>

<style>
    
body {
    background-color: #c0e8e7; 
    }

    .about p{
    padding-top: 75px;
    margin-top: 30%;

    
    font-weight: 300;
    letter-spacing: 3px;
    margin: auto;
    text-align: justify;
    font-size: 1.2em;
        width: 60%;
            position: relative;

    }
  
    
</style>




<div class="about">
    <p>&nbsp; &nbsp; &nbsp; I began my career in the world of IT since I began this Computer Programmer Co-op course in Georgian
College. I work on a number of different systems writing new code for databases, till systems etc.
I am always keen to learn new skills and like to keep on top of the developments within IT by
whatever means I can.</p>
        <p>&nbsp; &nbsp; &nbsp; I understand IT but I understand that other people do not feel that my communication skills are
very good and that I can explain technical detail to non-technical users. I am also able to do
reports and present my findings and how I feel the best way of going about a new project is. I
have also learned a great deal about PHOTOSHOP, ILLUSTRATOR and HTML,PHP, CSS,
Java languages; and friendly nature allows me to interact well with other individuals at all
levels. I tend to continue learning new skills and apply it to my personal and professional life.
</p>
    <p>&nbsp; &nbsp; &nbsp; I love to do design, make logos and business cards. I develop creative ideas and concepts, choosing the appropriate media and style to meet the objectives of projects.</p>
    
</div>
</body>
</html>
<%- include partials/footer.ejs %>
