<%- include partials/header.ejs %>


<style>
body {
    background-color: #c0e8e7;
    background-image: url("../images/final.png") ;
 
    }
    
 

h1 {
    color: #203837;
    margin-left: 350px;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
   
    
    text-transform:uppercase;
    position: relative;
    margin-top: 22.5%;
    letter-spacing: 8px;

} 
    h3{
    color: #487F7D;
    margin-left: 340px;
font-family: 'Poiret One', cursive;   
        font-size: 2em;
    font-weight: 200;
    text-transform:uppercase;
    position: relative;
    margin-top: 3%;
    letter-spacing: 7px;
  
        	



    }
    .thinner{
     font-weight: 100;   
    }
    
    file:///C:/Users/GCSTUDENT/Desktop/Untitled.png
    
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover; 
	padding-bottom: 250px; 
	padding-top: 100px
    
</style>


      <h1 class="thinner">Jinal Patel</h1>
      <h3 class="thinner">web Developer,Designer</h3>





  </body>
</html>
<%- include partials/footer.ejs %>
