<%- include partials/header.ejs %>

<style>
body {
background-color: #c0e8e7;
}

h2 {
font-family: "SIMPSON";
margin-top: 5.5%;
color: #203837;
margin-bottom: 40px;
}

.projects p{
font-family: "SIMPSON";
margin-top: 15px;
font-size: 1.3em;
color: #487F7D;
margin-bottom: 40px;
 }
</style>

  
   <div class="projects">
       <h2 class="text-center"> Look at My Work! </h2>
<p class="text-center">It prsents some of my latest work. such as Logo, Business card, Brochure.</p>
                    <div class="row">
                        <div class="col-md-12">
                       
                      </div><!--end row-->
					    
                      	<div class="col-md-4 text-center">
                            	
                                    <h3 class="caption"> Logos </h3>
                                     <img src="../images/logo.png" alt="logo image" />
                <p>MiGuy digital logo(rebranded)</p>
                
                              
                         </div>
                         <div class="col-md-4 text-center">
                         	
                                    <h3 class="caption"> Business Cards </h3>
                                     <img src="../images/businesscard.png" alt="businesscard image" />
                <p>MiGuy digital Business card(Mr. Hugh Stewart)</p>
                
                                 
                          </div>
                           <div class="col-md-4 text-center">
               					
                                    	<h3 class="caption"> Brochures </h3>
                                            <img src="../images/eurotouch2.png" alt="eurotouch image" />
                <p>Euro tuch Cleaning</p>
               
                                  
                          </div>
                           
                          </div>
                       </div><!--end row-->


</body>
</html>
<%- include partials/footer.ejs %>
