<%- include partials/header.ejs %>


<style>
body {
background-color: #c0e8e7;
}

h2 {
font-family: "SIMPSON";
margin-top: 5.5%;
color: #203837;
margin-bottom: 40px;
}

.services p{
font-family: "SIMPSON";
margin-top: 15px;
font-size: 1.3em;
color: #487F7D;
margin-bottom: 40px;
 }
</style>

  
   <div class="services">
       <h2 class="text-center"> Look at my Services! </h2>
<p class="text-center">It prsents what I do. such as Mobile Apps, Websites, Brochures.</p>
                    <div class="row">
                        <div class="col-md-12">
                       
                      </div><!--end row-->
					    
                      	<div class="col-md-4 text-center">
                            	
                                    <h3 class="caption"> Mobile Apps </h3>
                                     <img src="../images/ranch.png" alt="TheRanch image" />
                <p>The Ranch</p>
                
                              
                         </div>
                         <div class="col-md-4 text-center">
                         	
                                    <h3 class="caption"> Websites </h3>
                                     <img src="../images/traeger.png" alt="Treager image" />
                <p>Treager</p>
                
                                 
                          </div>
                           <div class="col-md-4 text-center">
               					
                                    	<h3 class="caption"> Brochures </h3>
                                            <img src="../images/eurotouch1.png" alt="Eurotouch image" />
                <p>Euro tuch Cleaning</p>
               
                                  
                          </div>
                           
                          </div>
                       </div>



</body>
</html>
<%- include partials/footer.ejs %>

